html, body
{
    text-align: center;
    background-color: black;
    font-family: Gheight: 100%
}
img
{
    padding: 0.8cm; 
}
.pagelayout
{
    display:inline-block;
    height:1800px; 
}
#part1
{
    background-color: white;
    float: left;
    width: 27.3%;
    border-style:solid;
    border-right-width: 10px;
    border-color: darkgray;
    height: 35%;
}

#part2
{
    background-color: white;
    width: 70.69%;  
    border-style:solid;
    border-color: darkgray;
    overflow: scroll;
    height: 35%;
}
#part2 h1
{
    font-size: 25px;
    font-style: italic;
}
#part2 strong
{
     font-style: italic;
}
#mainblock
{  
    width:100%;
    position:fixed;
    overflow:scroll;
    right:20px;
}
a.concluding
{
   text-decoration: none;
    display: inline-block;
}

.courses
{
    -webkit-column-count: 2;
    column-count: 2;
    column-width: 100px;
    -webkit-column-width:100px;
    text-align: left;
}
.projects
{
    text-align: justify;
    padding: 0.5cm;
}
.projectHeadings
{
    text-align: center;
}
.skills:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.1;
    background-image: url('cs_1.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.skills {
    position: relative;
    overflow: hidden;
}
.contactdetails
{
    display: inline;
}
#internal_layout_left
{
   display: block;
   margin: 0 auto;
}
#internal_layout_right
{
    width: 100px;
    height:70px;
}
.navbar
{
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    background-color: darkgray;
    /*position:fixed;*/
    top:10px;
    /*width: 200px;
    background-color: darkgray;*/
}
.insidenavbar
{
    float:left; 
}
.navbarlinks
{
    display: inline;
    color: white;
    text-align: center;
    padding: 20px 18px 20px 18px;
    text-decoration: none;
    /* display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;*/
}   
a:hover
{
     background-color: #555;
}

  


